body {
  margin: 0;
  padding: 0;
  font-family: 'ClearSans', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

p {
  font-family: 'Arsenal', Helvetica, sans-serif;
}

b, strong {
  font-family: 'Arsenal', Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-family: 'Monoid-Regular', Arial, Helvetica, sans-serif !important;
  font-size:40px;
  line-height: 45px;
}

h2 {
  font-family: 'Monoid-Regular', Arial, Helvetica, sans-serif !important;
  font-size:28px;
}