body {
  margin: 0;
  padding: 0;
  font-family: 'Awesome', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

p {
  font-family: 'Awesome', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #CCC;
}

h1, h2 {
  font-family: 'Awesome', Arial, Helvetica, sans-serif !important;
}