@font-face {
    font-family: "Arsenal";
    src: url("../fonts/arsenal-regular-webfont.woff2") format("woff2");    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ClearSans_Medium";
    src: url("../fonts/clearsans-medium-webfont.woff2") format("woff2");    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ClearSans";
    src: url("../fonts/clearsans-regular-webfont.woff2") format("woff2");    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ClearSans_Bold";
    src: url("../fonts/clearsans-bold-webfont.woff2") format("woff2");    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ClearSans_Light";
    src: url("../fonts/clearsans-light-webfont.woff2") format("woff2");    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Monoid-Regular";
    src: url("../fonts/monoid-regular-webfont.woff2") format("woff2");    
    font-style: normal;
    font-weight: normal;
}
